:root {
  --color-white: #fff;
  --color-black: #333;
  --color-font: #1d1d1d;
  --color-font-darkgray: #6e6e6e;
  --color-font-lightgray: #f5f5f5;
  --color-link: #0071e3;
  --color-border: #d2d2d2;
  --color-header: #3a3a3a;
  --color-section: #f5f5f5;
  --color-shadow: rgba(0, 0, 0, 0.4);
}
/* ---------- COMMON ---------- */
html.fixed {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}
body {
  font-size: 16px;
  line-height: 1;
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
  word-break: keep-all;
  color: var(--color-font);
  height: 3000px;
}
a {
  color: var(--color-font);
  text-decoration: none;
}
img {
  display: block;
  user-select: none;
  -webkit-user-drag: none;
}
p {
  line-height: 1.6;
}
/* Inner */
.inner {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 1.25rem;
  position: relative;
}
/* Button */
.btn {
  height: 1.5rem;
  padding: 0 0.625rem;
  outline: none;
  border: none;
  border-radius: 1.5rem;
  font-size: 0.6875rem;
  line-height: 1;
  color: var(--color-white);
  background-color: var(--color-link);
  cursor: pointer;
}
.btn:hover {
  filter: brightness(1.1);
}

/* Background image text */
.bg-text {
  display: block;
  text-indent: -9999px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Links */
.links {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}
a.link {
  color: var(--color-link);
  font-size: 1.1875rem;
  line-height: 1.3;
}
a.link::after {
  content: ' >';
}
a.link:hover {
  text-decoration: underline;
}

/* Feature */
.feature {
  display: flex;
}
/* Figures */
.figures {
  position: relative;
  flex-grow: 1;
}
.figures figure,
.figures figcaption {
  position: absolute;
  top: 0;
  left: 0;
}
.figures figcaption * {
  position: absolute;
  top: 0;
  left: 0;
}
/* Figure Infos */
.infos {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
.infos.infos--center {
  justify-content: center;
}
.infos.infos--end {
  justify-content: flex-end;
}
.info {
  max-width: 20.625rem;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  transition: 1s;
  opacity: 0;
  transform: translate(0, 100px);
}
.info.show {
  opacity: 1;
  transform: translate(0, 0);
}
.info .icon {
  width: 100px;
  height: 100px;
  margin: 0 0 -15px -30px;
  animation: sprite-icon 3s steps(1) infinite;
}
.info .icon.icon--chip         { background-image: url("../images/sprite_chip.png"); }
.info .icon.icon--faster       { background-image: url("../images/sprite_faster.png"); }
.info .icon.icon--neural       { background-image: url("../images/sprite_neural.png"); }
.info .icon.icon--apps         { background-image: url("../images/sprite_apps.png"); }
.info .icon.icon--battery      { background-image: url("../images/sprite_battery.png"); }
.info .icon.icon--display      { background-image: url("../images/sprite_display.png"); }
.info .icon.icon--true-tone    { background-image: url("../images/sprite_true_tone.png"); }
.info .icon.icon--center-stage { background-image: url("../images/sprite_center_stage.png"); }
.info .icon.icon--front-camera { background-image: url("../images/sprite_front_camera.png"); }
.info .icon.icon--back-camera  { background-image: url("../images/sprite_back_camera.png"); }
.info .icon.icon--scan         { background-image: url("../images/sprite_scan.png"); }
.info .icon.icon--download     { background-image: url("../images/sprite_download.png"); }
.info .icon.icon--wifi         { background-image: url("../images/sprite_wifi.png"); }
.info .icon.icon--lte          { background-image: url("../images/sprite_lte.png"); }
.info .icon.icon--pencil       { background-image: url("../images/sprite_pencil.png"); }
.info .icon.icon--keyboard     { background-image: url("../images/sprite_keyboard.png"); }
.info .icon.icon--notes        { background-image: url("../images/sprite_notes.png"); }
.info .icon.icon--covers       { background-image: url("../images/sprite_covers.png"); }
.info .description {
  font-size: 1.34375rem;
  font-weight: 600;
  line-height: 1.5;
}

/* ---------- Header ---------- */
.header {
  --header-height: 2.75rem;
  background-color: var(--color-header);
  color: var(--color-font-lightgray);
  position: relative;
  z-index: 9;
}
.header > .inner {
  max-width: 1020px;
}
.header .inner .menu {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .inner .menu .item {
  padding: 0.6rem;
  cursor: pointer;
  transition: 0.4s;
}
.header .inner .menu .item.basket-starter {
  position: relative;
}
.header .inner .menu .item .title {
  color: var(--color-white);
  font-size: 0.7rem;
  opacity: 0.8;
}
.header .inner .menu .item.apple-logo .title,
.header .inner .menu .item.search-starter .title,
.header .inner .menu .item.basket-starter .title {
  font-size: 1.2rem;
  width: 0.875rem;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: center;
}
.header .inner .menu .item.apple-logo .title {
  background-image: url('../images/header_apple.svg');
}
.header .inner .menu .item.search-starter .title {
  background-image: url('../images/header_search.svg');
}
.header .inner .menu .item.basket-starter .title {
  background-image: url('../images/header_bag.svg');
}
.header .inner .menu .item:hover .title {
  opacity: 1;
}

/* ---------- Header / Menu / Search ---------- */
.header .search-wrap {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
}
.header .search-wrap .search {
  max-width: 680px;
  margin: 0 auto;
  position: relative;
}
.header .search-wrap .search .shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-shadow);
}
.header .search-wrap .search .textfield {
  position: relative;
}
.header .search-wrap .search .textfield input {
  width: 100%;
  height: var(--header-height);
  padding: 0 2.5rem;
  box-sizing: border-box;
  outline: none;
  border: 0;
  font-size: 1.0625rem;
  background-color: transparent;
  color: var(--color-white);
}
.header .search-wrap .search .textfield .search-icon {
  width: 2.948rem;
  height: var(--header-height);
  background-image: url('../images/header_search.svg');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
}
.header .search-wrap .search .textfield .search-closer {
  width: 2.948rem;
  height: var(--header-height);
  background-image: url('../images/header_close.svg');
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999px;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.4;
  cursor: pointer;
}
.header .search-wrap .search .textfield .search-closer:hover {
  opacity: 1;
}
.header .search-wrap .search .autocompletes {
  width: 100%;
  padding: 1.625rem 2.5rem 1.25rem;
  box-sizing: border-box;
  border-end-start-radius: 1rem;
  border-end-end-radius: 1rem;
  background-color: var(--color-white);
  position: absolute;
  top: var(--header-height);
  left: 0;
}
.header .search-wrap .search .autocompletes .title {
  font-size: 0.75rem;
  color: var(--color-font-darkgray);
  margin-top: 0.75rem;
}
.header .search-wrap .search .autocompletes ul li span {
  display: block;
  margin: 0 -0.875rem;
  padding: 0.625rem 0 0.625rem 1.875rem;
  font-size: 0.875rem;
  color: var(--color-font);
  cursor: pointer;
}
.header .search-wrap .search .autocompletes ul li:hover span {
  background-color: var(--color-section);
  color: var(--color-link);
}

/* Search Animation */
.header .search-wrap .search .textfield input,
.header .search-wrap .search .textfield .search-icon,
.header .search-wrap .search .autocompletes .title,
.header .search-wrap .search .autocompletes ul li {
  transition: 0.6s;
  transform: translate(100px, 0);
}
.header.searching .menu .item {
  transform: scale(0.7);
  opacity: 0;
}
.header.searching .search-wrap {
  visibility: visible;
  opacity: 1;
  transition-delay: 0.2s;
}
.header.searching .search-wrap .search .textfield input,
.header.searching .search-wrap .search .textfield .search-icon,
.header.searching .search-wrap .search .autocompletes .title,
.header.searching .search-wrap .search .autocompletes ul li {
  transition-delay: 0.2s;
  transform: translate(0, 0);
}

/* ---------- Header / Menu / Basket ---------- */
.header .basket {
  width: 18.125rem;
  padding: 0.625rem 1.25rem;
  border: 1px solid var(--color-border);
  border-radius: 0.625rem;
  box-sizing: border-box;
  background-color: var(--color-white);
  position: absolute;
  top: calc(100% + 0.3rem);
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
}
.header .basket.show {
  opacity: 1;
  visibility: visible;
}
.header .basket .arrow {
  width: 1.25rem;
  height: 0.625rem;
  overflow: hidden;
  position: absolute;
  top: -0.625rem;
  right: 0.75rem;
}
.header .basket .arrow::before {
  content: '';
  width: 0.75rem;
  height: 0.75rem;
  border: 1px solid var(--color-border);
  background-color: var(--color-white);
  transform: rotate(45deg);
  transform-origin: 0;
  position: absolute;
  top: 0;
  left: 50%;
}
.header .basket .basket-list {
  min-height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .basket .basket-list li span {
  color: var(--color-font-darkgray);
  font-size: 0.8125rem;
}
.header .basket .button-group li {
  padding: 0.8rem 0;
  border-top: solid var(--color-border);
}
.header .basket .button-group li a {
  font-size: 0.8rem;
  color: var(--color-link);
  padding-left: 1rem;
}
.header .basket .button-group li a:hover {
  text-decoration: underline;
}

/* ---------- Navigation ---------- */
.nav {
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(20px);
  border-bottom: 1px solid var(--color-border);
  position: sticky;
  top: 0;
  z-index: 8;
}
.nav > .inner {
  height: 3.25rem;
  max-width: 1000px;
  display: flex;
  align-items: center;
}
.nav .inner .title {
  flex-grow: 1;
  font-size: 1.375rem;
  font-weight: 500;
}
.nav .inner .menu {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-right: 1.125rem;
}
.nav .inner .menu li a {
  display: block;
  padding: 0.375rem;
  font-size: 0.6875rem;
}
.nav .inner .menu li a:hover {
  color: var(--color-link);
}
.nav .inner .menu li.active a {
  color: var(--color-font-darkgray);
}
.nav .inner .menu li.active:hover a {
  cursor: default;
  color: var(--color-font-darkgray);
}

/* ---------- Hero ---------- */
.hero {
  background-color: var(--color-section);
  overflow: hidden;
}
.hero .inner {
  padding-bottom: 6.875rem;
}
.hero .inner .title {
  position: absolute;
  background-image: url('../images/hero_ipad_text.png');
  width: 221px;
  height: 91px;
  transform: translate(624px, 235px);
  z-index: 1;
}
.hero .inner .figures {
  height: 50.5rem;
}
.hero .inner .figures figure {
  transform: translate(74px, -64px);
}
.hero .inner .figures figure figcaption .caption-camera {
  background-image: url('../images/hero_ipad_caption_camera.png');
  width: 120px;
  height: 84px;
  transform: translate(43px, 580px);
}
.hero .inner .figures figure figcaption .caption-chip {
  background-image: url('../images/hero_ipad_caption_chip.png');
  width: 95px;
  height: 43px;
  transform: translate(589px, 510px);
}
.hero .inner .figures figure figcaption .caption-storage {
  background-image: url('../images/hero_ipad_caption_storage.png');
  width: 80px;
  height: 43px;
  transform: translate(627px, 631px);
}
.hero .inner .headline {
  background-image: url('../images/hero_headline.png');
  width: 735px;
  height: 145px;
  margin: 0 auto;
}
.hero .inner .pricing {
  margin-top: 2.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}
.hero .inner .description {
  width: 88%;
  margin: 1.125rem auto 0;
  font-size: 1.1875rem;
  text-align: center;
}
.hero .inner .links {
  margin-top: 1.875rem;
}

/* ---------- Power ---------- */
.power {
  margin-top: 6.875rem;
}
/* Power / Multiple Apps */
.power .inner .multiple_apps .headline {
  background-image: url('../images/power_headline.png');
  width: 500px;
  height: 280px;
  transform: translate(104px, 0);
}
.power .inner .multiple_apps .figures {
  height: 773px;
}
.power .inner .multiple_apps .figures figure figcaption {
  background-image: url('../images/power_multiple_apps_caption.png');
  width: 138px;
  height: 46px;
  transform: translate(703px, -47px);
}
/* Power / Arcade */
.power .inner .arcade {
  margin-top: 3.4375rem;
}
.power .inner .arcade .figures {
  height: 600px;
}
.power .inner .arcade .figures figure {
  transform: translate(-347px, -90px);
}
.power .inner .arcade .figures figure figcaption {
  background-image: url('../images/power_arcade_caption.png');
  width: 150px;
  height: 77px;
  transform: translate(483px, 653px);
}

/* Power / Create */
.power .inner .create {
  margin-top: 3.4375rem;
}
.power .inner .create .figures {
  height: 772px;
}
.power .inner .create .figures figure {
  transform: translate(-25px, 50px);
}
.power .inner .create .figures figure figcaption {
  background-image: url('../images/power_create_caption.png');
  width: 142px;
  height: 46px;
  transform: translate(543px, 908px);
}

/* ---------- Display ---------- */
.display {
  margin-top: 28.125rem;
}
/* Display / Notes */
.display .inner .notes .headline {
  background-image: url('../images/display_headline.png');
  width: 630px;
  height: 370px;
  transform: translate(104px, 0);
}
.display .inner .notes .figures {
  height: 814px;
  margin-top: 26px;
}
.display .inner .notes .figures figure .description {
  background-image: url('../images/display_notes_caption.png');
  width: 145px;
  height: 45px;
  transform: translate(707px, -16px);
}
/* Display / Shareplay */
.display .inner .shareplay {
  margin-top: 3.4375rem;
}
.display .inner .shareplay .figures {
  height: 630px;
}
.display .inner .shareplay .figures figure {
  transform: translate(-360px, 0);
}
.display .inner .shareplay .figures figure .description {
  background-image: url('../images/display_shareplay_caption.png');
  width: 110px;
  height: 48px;
  transform: translate(300px, 658px);
}

/* ---------- Camera ---------- */
.camera {
  margin-top: 18.9375rem;
}
/* Camera / Stage */
.camera .inner .stage {
  position: relative;
}
.camera .inner .stage .headline {
  background-image: url('../images/camera_headline.png');
  width: 650px;
  height: 450px;
  transform: translate(-25px, 0);
}
.camera .inner .stage .info {
  position: absolute;
  top: 150px;
  right: 0;
}
/* Camera / Stage / Video */
.camera .inner .stage .figures {
  height: 770px;
  margin-top: 24px;
}
.camera .inner .stage .figures figure {
  transform: translate(90px, 0);
}
.camera .inner .stage .figures figure video {
  position: absolute;
  top: 36px;
  left: 76px;
  -webkit-mask-image: url('../images/camera_video_mask.png');
  mask-image: url('../images/camera_video_mask.png');
}
.camera .inner .stage .figures figure .controller--play,
.camera .inner .stage .figures figure .controller--pause {
  color: var(--color-link);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transform: translate(428px, -114px) rotate(-3deg);
  width: 5.4rem;
}
.camera .inner .stage .figures figure .controller--play:hover,
.camera .inner .stage .figures figure .controller--pause:hover {
  text-decoration: underline;
}
.camera .inner .stage .figures figure .controller--play.hide,
.camera .inner .stage .figures figure .controller--pause.hide {
  display: none;
}
.camera .inner .stage .figures figure .controller--play img,
.camera .inner .stage .figures figure .controller--pause img {
  width: 1.1rem;
  height: 1.1rem;
}
.camera .inner .stage .figures figure .description {
  background-image: url('../images/camera_hardware_caption.png');
  width: 130px;
  height: 110px;
  transform: translate(-116px, 383px);
}
/* Camera / Edit */
.camera .inner .edit .figures {
  height: 910px;
}
.camera .inner .edit .figures figure {
  transform: translate(20px, 0);
}
.camera .inner .edit .figures figure .description {
  background-image: url('../images/camera_edit_caption.png');
  width: 130px;
  height: 47px;
  transform: translate(27px, 905px);
}

/* ---------- keyframes ---------- */
@keyframes sprite-icon {
  /* 1~10 */
  0.00% { background-position: 0 0; }
  1.67% { background-position: -100px 0; }
  3.33% { background-position: -200px 0; }
  5.00% { background-position: -300px 0; }
  6.67% { background-position: -400px 0; }
  8.33% { background-position: -500px 0; }
  10.00% { background-position: 0 -100px; }
  11.67% { background-position: -100px -100px; }
  13.33% { background-position: -200px -100px; }
  15.00% { background-position: -300px -100px; }

  /* 11~20 */
  16.67% { background-position: -400px -100px; }
  18.33% { background-position: -500px -100px; }
  20.00% { background-position: 0 -200px; }
  21.67% { background-position: -100px -200px; }
  23.33% { background-position: -200px -200px; }
  25.00% { background-position: -300px -200px; }
  26.67% { background-position: -400px -200px; }
  28.33% { background-position: -500px -200px; }
  30.00% { background-position: 0 -300px; }
  31.67% { background-position: -100px -300px; }

  /* 21~30 */
  33.33% { background-position: -200px -300px; }
  35.00% { background-position: -300px -300px; }
  36.67% { background-position: -400px -300px; }
  38.33% { background-position: -500px -300px; }
  40.00% { background-position: 0 -400px; }
  41.67% { background-position: -100px -400px; }
  43.33% { background-position: -200px -400px; }
  45.00% { background-position: -300px -400px; }
  46.67% { background-position: -400px -400px; }
  48.33% { background-position: -500px -400px; }

  /* 31~40 */
  50.00% { background-position: 0 -500px; }
  51.67% { background-position: -100px -500px; }
  53.33% { background-position: -200px -500px; }
  55.00% { background-position: -300px -500px; }
  56.67% { background-position: -400px -500px; }
  58.33% { background-position: -500px -500px; }
  60.00% { background-position: 0 -600px; }
  61.67% { background-position: -100px -600px; }
  63.33% { background-position: -200px -600px; }
  65.00% { background-position: -300px -600px; }

  /* 41~50 */
  66.67% { background-position: -400px -600px; }
  68.33% { background-position: -500px -600px; }
  70.00% { background-position: 0 -700px; }
  71.67% { background-position: -100px -700px; }
  73.33% { background-position: -200px -700px; }
  75.00% { background-position: -300px -700px; }
  76.67% { background-position: -400px -700px; }
  78.33% { background-position: -500px -700px; }
  80.00% { background-position: 0 -800px; }
  81.67% { background-position: -100px -800px; }

  /* 51~60 */
  83.33% { background-position: -200px -800px; }
  85.00% { background-position: -300px -800px; }
  86.67% { background-position: -400px -800px; }
  88.33% { background-position: -500px -800px; }
  90.00% { background-position: 0 -900px; }
  91.67% { background-position: -100px -900px; }
  93.33% { background-position: -200px -900px; }
  95.00% { background-position: -300px -900px; }
  96.67% { background-position: -400px -900px; }
  98.33% { background-position: -500px -900px; }
}
