:root {
  --color-white: #fff;
  --color-dark-white: #f5f5f5;
  --color-stone: #f6f5f8;
  --color-light-gray: #d2d2d2;
  --color-dark-gray: #6e6e6e;
  --color-blue: #0370e3;
  --color-light-black: #3a3a3a;
  --color-black: #333;
  --color-dark-black: #1d1d1d;
}
/* ---------- COMMON ---------- */
html.fixed {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}
body {
  font-size: 16px;
  line-height: 1;
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
  word-break: keep-all;
  color: var(--color-dark-black);
  height: 3000px;
}
a {
  color: var(--color-dark-black);
  text-decoration: none;
}
img {
  display: block;
  user-select: none;
  -webkit-user-drag: none;
}
p {
  line-height: 1.6;
}
/* Inner */
.inner {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 1.25rem;
  position: relative;
}
/* Button */
.btn {
  height: 1.5rem;
  padding: 0 0.625rem;
  outline: none;
  border: none;
  border-radius: 1.5rem;
  font-size: 0.6875rem;
  line-height: 1;
  color: var(--color-white);
  background-color: var(--color-blue);
  cursor: pointer;
}
.btn:hover {
  filter: brightness(1.1);
}

/* Background image text */
.bg-text {
  display: block;
  text-indent: -9999px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Links */
.links {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}
a.link {
  color: var(--color-blue);
  font-size: 1.1875rem;
  line-height: 1.3;
}
a.link::after {
  content: ' >';
}
a.link:hover {
  text-decoration: underline;
}

/* Figures */
.figures {
  position: relative;
}
.figures figure,
.figures figcaption {
  position: absolute;
  top: 0;
  left: 0;
}
.figures figcaption * {
  position: absolute;
  top: 0;
  left: 0;
}

/* ---------- Header ---------- */
.header {
  background-color: var(--color-light-black);
  color: var(--color-dark-white);
}
.header > .inner {
  max-width: 1020px;
}
.header .inner .menu {
  height: 2.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .inner .menu .item {
  padding: 0.6rem;
  cursor: pointer;
  transition: 0.4s;
}
.header .inner .menu .item.basket-starter {
  position: relative;
}
.header .inner .menu .item .title {
  color: var(--color-white);
  font-size: 0.7rem;
  opacity: 0.8;
}
.header .inner .menu .item.apple-logo .title,
.header .inner .menu .item.search-starter .title,
.header .inner .menu .item.basket-starter .title {
  font-size: 1.2rem;
  width: 0.875rem;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: center;
}
.header .inner .menu .item.apple-logo .title {
  background-image: url('../images/header_apple.svg');
}
.header .inner .menu .item.search-starter .title {
  background-image: url('../images/header_search.svg');
}
.header .inner .menu .item.basket-starter .title {
  background-image: url('../images/header_bag.svg');
}
.header .inner .menu .item:hover .title {
  opacity: 1;
}
/* ---------- Header / Menu / Search ---------- */
.header .search-wrap {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
  z-index: 9;
}
.header .search-wrap .search {
  max-width: 680px;
  margin: 0 auto;
  position: relative;
}
.header .search-wrap .search .shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
  opacity: 0.2;
}
.header .search-wrap .search .textfield {
  position: relative;
}
.header .search-wrap .search .textfield input {
  width: 100%;
  height: 2.75rem;
  padding: 0 2.5rem;
  box-sizing: border-box;
  outline: none;
  border: 0;
  font-size: 1.0625rem;
  background-color: transparent;
  color: var(--color-white);
}
.header .search-wrap .search .textfield .search-icon {
  width: 2.948rem;
  height: 2.75rem;
  background-image: url('../images/header_search.svg');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
}
.header .search-wrap .search .textfield .search-closer {
  width: 2.948rem;
  height: 2.75rem;
  background-image: url('../images/header_close.svg');
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999px;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.4;
  cursor: pointer;
}
.header .search-wrap .search .textfield .search-closer:hover {
  opacity: 1;
}
.header .search-wrap .search .autocompletes {
  width: 100%;
  padding: 1.625rem 2.5rem 1.25rem;
  box-sizing: border-box;
  border-end-start-radius: 1rem;
  border-end-end-radius: 1rem;
  background-color: var(--color-white);
  position: absolute;
  top: 2.75rem;
  left: 0;
}
.header .search-wrap .search .autocompletes .title {
  font-size: 0.75rem;
  color: var(--color-dark-gray);
  margin-top: 0.75rem;
}
.header .search-wrap .search .autocompletes ul li span {
  display: block;
  margin: 0 -0.875rem;
  padding: 0.625rem 0 0.625rem 1.875rem;
  font-size: 0.875rem;
  color: var(--color-dark-black);
  cursor: pointer;
}
.header .search-wrap .search .autocompletes ul li:hover span {
  background-color: var(--color-dark-white);
  color: var(--color-blue);
}
/* Search Animation */
.header .search-wrap .search .textfield input,
.header .search-wrap .search .textfield .search-icon,
.header .search-wrap .search .autocompletes .title,
.header .search-wrap .search .autocompletes ul li {
  transition: 0.6s;
  transform: translate(100px, 0);
}
.header.searching .menu .item {
  transform: scale(0.7);
  opacity: 0;
}
.header.searching .search-wrap {
  visibility: visible;
  opacity: 1;
  transition-delay: 0.2s;
}
.header.searching .search-wrap .search .textfield input,
.header.searching .search-wrap .search .textfield .search-icon,
.header.searching .search-wrap .search .autocompletes .title,
.header.searching .search-wrap .search .autocompletes ul li {
  transition-delay: 0.2s;
  transform: translate(0, 0);
}

/* ---------- Header / Menu / Basket ---------- */
.header .basket {
  width: 18.125rem;
  padding: 0.625rem 1.25rem;
  border: 1px solid var(--color-light-gray);
  border-radius: 0.625rem;
  box-sizing: border-box;
  background-color: var(--color-white);
  position: absolute;
  top: calc(100% + 0.3rem);
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
  z-index: 9;
}
.header .basket.show {
  opacity: 1;
  visibility: visible;
}
.header .basket .arrow {
  width: 1.25rem;
  height: 0.625rem;
  overflow: hidden;
  position: absolute;
  top: -0.625rem;
  right: 0.75rem;
}
.header .basket .arrow::before {
  content: '';
  width: 0.75rem;
  height: 0.75rem;
  border: 1px solid var(--color-light-gray);
  background-color: var(--color-white);
  transform: rotate(45deg);
  transform-origin: 0;
  position: absolute;
  top: 0;
  left: 50%;
}
.header .basket .basket-list {
  min-height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .basket .basket-list li span {
  color: var(--color-light-black);
  font-size: 0.8125rem;
}
.header .basket .button-group {
}
.header .basket .button-group li {
  padding: 0.8rem 0;
  border-top: solid var(--color-light-gray);
}
.header .basket .button-group li a {
  font-size: 0.8rem;
  color: var(--color-blue);
  padding-left: 1rem;
}
.header .basket .button-group li a:hover {
  text-decoration: underline;
}

/* ---------- Navigation ---------- */
.nav {
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(20px);
  border-bottom: 1px solid var(--color-light-gray);
  position: sticky;
  top: 0;
  z-index: 8;
}
.nav > .inner {
  height: 3.25rem;
  max-width: 1000px;
  display: flex;
  align-items: center;
}
.nav .inner .title {
  flex-grow: 1;
  font-size: 1.375rem;
  font-weight: 500;
}
.nav .inner .menu {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-right: 1.125rem;
}
.nav .inner .menu li a {
  display: block;
  padding: 0.375rem;
  font-size: 0.6875rem;
}
.nav .inner .menu li a:hover {
  color: var(--color-blue);
}
.nav .inner .menu li.active a {
  color: var(--color-dark-gray);
}
.nav .inner .menu li.active:hover a {
  cursor: default;
  color: var(--color-dark-gray);
}

/* ---------- Hero ---------- */
.hero {
  background-color: var(--color-stone);
  overflow: hidden;
}
.hero .inner {
  padding-bottom: 6.875rem;
}
.hero .inner .title {
  position: absolute;
  background-image: url('../images/hero_ipad_text.png');
  width: 221px;
  height: 91px;
  transform: translate(624px, 235px);
  z-index: 1;
}
.hero .inner .figures {
  height: 50.5rem;
}
.hero .inner .figures figure {
  transform: translate(74px, -64px);
}
.hero .inner .figures figure figcaption .caption-camera {
  background-image: url('../images/hero_ipad_caption_camera.png');
  width: 120px;
  height: 84px;
  transform: translate(43px, 580px);
}
.hero .inner .figures figure figcaption .caption-chip {
  background-image: url('../images/hero_ipad_caption_chip.png');
  width: 95px;
  height: 43px;
  transform: translate(589px, 510px);
}
.hero .inner .figures figure figcaption .caption-storage {
  background-image: url('../images/hero_ipad_caption_storage.png');
  width: 80px;
  height: 43px;
  transform: translate(627px, 631px);
}
.hero .inner .headline {
  background-image: url('../images/hero_headline.png');
  width: 735px;
  height: 145px;
  margin: 0 auto;
}
.hero .inner .pricing {
  margin-top: 2.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}
.hero .inner .description {
  width: 88%;
  margin: 1.125rem auto 0;
  font-size: 1.1875rem;
  text-align: center;
}
.hero .inner .links {
  margin-top: 1.875rem;
}
.hero .inner .links {
}
