/* ---------- COMMON ---------- */
/* Links */
.links {
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
a.link {
  font-size: 17px;
}
/* Feature */
.feature {
  flex-direction: column;
}
/* Figures */
.figures {
  display: flex;
  justify-content: center;
}
.figures figure {
  position: relative;
}
/* Figure Infos */
.info {
  max-width: none;
  padding: 0 20px;
}
.infos--large .info {
  max-width: none;
}
.info a.link {
  font-size: 17px;
}

/* ---------- Header ---------- */
.header::before {
  content: '';
  position: fixed;
  top: var(--header-height);
  left: 0;
  width: 100%;
  height: 0;
  background-color: var(--color-header);
  transition: 0.3s;
}
.header .menu .item {
  display: none;
}
.header .menu .menu-starter,
.header .menu .apple-logo,
.header .menu .basket-starter {
  display: flex;
}
.header .menu .menu-starter span {
  display: block;
  width: 15px;
  height: 1px;
  background-color: var(--color-white);
  margin-bottom: 6px;
  transition: 0.3s;
}
.header .menu .menu-starter span:last-child {
  margin-bottom: 0;
}
.header .search-wrap {
  padding: 0 20px 14px;
  border-bottom: 1px solid var(--color-header);
  box-sizing: border-box;
  top: var(--header-height);
}
.header .search-wrap .search {
  max-width: 590px;
}
.header .search-wrap .shadow {
  display: none;
}
.header .search-wrap .search .textfield {
  border-radius: 10px;
  background-color: #1d1d1d;
  width: 100%;
  transition: 0.2s;
}
.header .search-wrap .search .search-closer {
  display: none;
}
.header .search-wrap .search .search-canceler {
  height: var(--header-height);
  display: flex;
  align-items: center;
  padding: 0 8px;
  color: var(--color-link);
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  transition: 0.3s;
  visibility: hidden;
  opacity: 0;
}
.header .search-wrap .search .textfield input,
.header .search-wrap .search .textfield .search-icon,
.header .search-wrap .search .autocompletes .title,
.header .search-wrap .search .autocompletes ul li {
  transform: translate(0, 0);
}
.header .search-wrap .search .autocompletes {
  top: 58px;
  padding: 26px 0 20px;
  background-color: transparent;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  transform: translate(0, -100px);
}
.header .search-wrap .search .autocompletes ul li {
  border-bottom: 1px solid var(--color-header);
}
.header .search-wrap .search .autocompletes ul li:last-child {
  border-bottom: none;
}
.header .search-wrap .search .autocompletes ul li span {
  padding: 16px 0 16px 16px;
  color: var(--color-font-middlegray);
}
.header .search-wrap .search .autocompletes ul li:hover span {
  background-color: transparent;
  color: var(--color-link);
}
.header .clone-menu {
  display: block;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 103px;
  left: 0;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  transition: 0.3s;
  transform: translate(0, -50px);
}
.header .clone-menu ul {
  max-width: 590px;
  margin: 4px auto;
}
.header .clone-menu ul li {
  border-bottom: 1px solid var(--color-header);
}
.header .clone-menu ul li:last-child {
  border-bottom: none;
}
.header .clone-menu ul li span {
  display: block;
  padding: 16px 0;
  font-size: 14px;
  color: var(--color-font-middlegray);
}
.header .clone-menu ul li:hover span {
  color: var(--color-white);
}
/* menuing */
.header.menuing {
  background-color: var(--color-black);
}
.header.menuing::before {
  height: 100vh;
  background-color: var(--color-black);
}
.header.menuing .menu .basket-starter {
  opacity: 0;
  visibility: hidden;
}
.header.menuing .menu .menu-starter span:first-child {
  transform: translate(0, 3.5px) rotate(45deg);
}
.header.menuing .menu .menu-starter span:last-child {
  transform: translate(0, -3.5px) rotate(-45deg);
}
.header.menuing .search-wrap {
  visibility: visible;
  opacity: 1;
}
.header.menuing .clone-menu {
  visibility: visible;
  opacity: 1;
  transform: translate(0, 0);
}
.header.menuing.searching--mobile {
  transform: translate(0, -30px);
}
.header.menuing.searching--mobile .search-wrap .search .textfield {
  width: calc(100% - 55px);
}
.header.menuing.searching--mobile .search-wrap .search .autocompletes {
  visibility: visible;
  opacity: 1;
  transform: translate(0, 0);
}
.header.menuing.searching--mobile .search-wrap .search .search-canceler {
  visibility: visible;
  opacity: 1;
}
.header.menuing.searching--mobile .clone-menu {
  visibility: hidden;
  opacity: 0;
  transform: translate(0, 100px);
}

/* ---------- Navigation ---------- */
.nav .shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--color-shadow);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}
.nav .contents-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--nav-height);
  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-white);
  visibility: hidden;
  transition: 0.3s;
}
.nav .menu-toggler {
  width: 30px;
  height: 24px;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}
.nav .menu-toggler::before,
.nav .menu-toggler::after {
  content: '';
  display: block;
  width: 11px;
  height: 1px;
  background-color: var(--color-font-darkgray);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: 0.3s;
}
.nav .menu-toggler::before {
  transform: rotate(40deg);
  left: -9px;
}
.nav .menu-toggler::after {
  transform: rotate(-40deg);
  right: -9px;
}
.nav .inner .menu {
  position: absolute;
  top: var(--nav-height);
  left: 0;
  width: 100%;
  padding: 10px 40px 30px;
  box-sizing: border-box;
  display: block;
  visibility: hidden;
  opacity: 0;
  transform: translate(0, -50px);
  transition: 0.3s;
}
.nav .inner .menu li {
  border-bottom: 1px solid var(--color-border);
}
.nav .inner .menu li:last-child {
  border-bottom: none;
}
.nav .inner .menu li a {
  padding: 16px 0;
  font-size: 14px;
}
.nav.menuing .shadow {
  visibility: visible;
  opacity: 1;
}
.nav.menuing .contents-bg {
  visibility: visible;
  height: 232px;
}
.nav.menuing .menu {
  visibility: visible;
  opacity: 1;
  transform: translate(0, 0);
}
.nav.menuing .menu-toggler::before {
  transform: rotate(-40deg);
}
.nav.menuing .menu-toggler::after {
  transform: rotate(40deg);
}

/* ---------- Hero ---------- */
.hero .inner {
  padding-top: 40px;
}
.hero .inner .title {
  position: static;
  transform: none;
  margin: 0 auto 40px;
}
.hero .inner .figures {
  height: auto;
  margin-bottom: 100px;
}
.hero .inner .figures figure {
  transform: none;
}
.hero .inner .figures figure img {
  width: 337px;
}
.hero .inner .figures figure figcaption .caption-camera {
  background-image: url('../images/hero_ipad_caption_camera_mobile.png');
  width: 180px;
  height: 37px;
  transform: scale(1) translate(21px, 368px);
}
.hero .inner .figures figure figcaption .caption-chip {
  transform: scale(0.8) translate(248px, 42px);
}
.hero .inner .figures figure figcaption .caption-storage {
  transform: scale(0.8) translate(288px, 168px);
}
.hero .inner .headline {
  background-image: url('../images/hero_headline_mobile.png');
  width: 295px;
  height: 185px;
}
.hero .inner .pricing {
  font-size: 20px;
}
.hero .inner .description {
  width: auto;
  font-size: 17px;
}

/* ---------- Power ---------- */
/* Power / Multiple Apps */
.power .inner .multiple_apps .headline {
  margin: 0 auto;
  transform: none;
}
.power .inner .multiple_apps .figures {
  height: 340px;
  margin-top: 50px;
}
.power .inner .multiple_apps .figures figure {
  transform: translate(20px, 0);
}
.power .inner .multiple_apps .figures figure img {
  width: 462px;
}
.power .inner .multiple_apps .figures figure figcaption {
  transform: scale(0.8) translate(112px, -45px);
}
/* Power / Arcade */
.power .inner .arcade {
  margin-top: 30px;
  flex-direction: column-reverse;
}
.power .inner .arcade .figures {
  height: auto;
  margin-top: 20px;
}
.power .inner .arcade .figures figure {
  transform: translate(20px, 0);
}
.power .inner .arcade .figures figure img {
  width: 458px;
}
.power .inner .arcade .figures figure figcaption {
  transform: scale(0.8) translate(316px, 368px);
}
/* Power / Create */
.power .inner .create .figures {
  height: auto;
  margin-top: 20px;
}
.power .inner .create .figures figure {
  transform: translate(100px, 0);
}
.power .inner .create .figures figure img {
  width: 525px;
}
.power .inner .create .figures figure figcaption {
  transform: scale(0.8) translate(254px, 486px);
}
