/* ---------- COMMON ---------- */
/* Inner */
.inner {
  max-width: 692px;
}
/* Figure Infos */
.info {
  max-width: 230px;
}
.infos--large .info {
  max-width: 288px;
}
.info .icon {
  transform: scale(0.8);
  margin: -30px 0 -24px -32px;
}
.info .description {
  font-size: 19px;
  line-height: 1.4;
}
.info a.link {
  margin-top: 24px;
}

/* ---------- Header ---------- */
.header .inner {
  padding: 0 10px;
}

/* ---------- Hero ---------- */
.hero .inner {
  padding-bottom: 80px;
}
.hero .inner .title {
  width: 166px;
  height: 68px;
  transform: translate(448px, 165px);
}
.hero .inner .figures {
  height: 584px;
  margin-bottom: 14px;
}
.hero .inner .figures figure {
  transform: translate(70px, -24px);
}
.hero .inner .figures figure img {
  width: 540px;
}
.hero .inner .figures figure figcaption .caption-camera {
  transform: scale(0.8) translate(-9px, 524px);
}
.hero .inner .figures figure figcaption .caption-chip {
  transform: scale(0.8) translate(510px, 422px);
}
.hero .inner .figures figure figcaption .caption-storage {
  transform: scale(0.8) translate(556px, 556px);
}
.hero .inner .headline {
  width: 515px;
  height: 95px;
}

/* ---------- Power ---------- */
.power {
  margin-top: 80px;
}
/* Power / Multiple Apps */
.power .inner .multiple_apps .headline {
  width: 310px;
  height: 180px;
}
.power .inner .multiple_apps .figures {
  height: 503px;
}
.power .inner .multiple_apps .figures figure {
  transform: translate(71px, 0);
}
.power .inner .multiple_apps .figures figure img {
  width: 682px;
}
.power .inner .multiple_apps .figures figure figcaption {
  transform: scale(0.8) translate(532px, -58px);
}
/* Power / Arcade */
.power .inner .arcade {
  margin-top: 0;
}
.power .inner .arcade .figures {
  height: 480px;
}
.power .inner .arcade .figures figure {
  transform: translate(-182px, -6px);
}
.power .inner .arcade .figures figure img {
  width: 676px;
}
.power .inner .arcade .figures figure figcaption {
  transform: scale(0.8) translate(316px, 528px);
}
/* Power / Create */
.power .inner .create .figures {
  height: 588px;
}
.power .inner .create .figures figure {
  transform: translate(4px, -36px);
}
.power .inner .create .figures figure img {
  width: 820px;
}
.power .inner .create .figures figure figcaption {
  transform: scale(0.8) translate(420px, 747px);
}

/* ---------- Display ---------- */
.display {
  margin-top: 180px;
}
/* Display / Notes */
.display .inner .notes .headline {
  width: 400px;
  height: 240px;
  transform: translate(120px, 0);
}
.display .inner .notes .figures {
  height: 530px;
}
.display .inner .notes .figures figure {
  transform: translate(80px, -10px);
}
.display .inner .notes .figures figure img {
  width: 676px;
}
.display .inner .notes .figures figure .description {
  transform: scale(0.8) translate(540px, -34px);
}
/* Display / Shareplay */
.display .inner .shareplay .figures {
  height: 330px;
}
.display .inner .shareplay .figures figure {
  transform: translate(-178px, 0);
}
.display .inner .shareplay .figures figure img {
  width: 682px;
}
.display .inner .shareplay .figures figure .description {
  transform: scale(0.8) translate(261px, 540px);
}
